<footer class="border-top">
  <!-- Lists -->
  <div class="container text-center space-1">
    <p class="small text-muted">Tout droits réservés - </p>
  </div>
</footer>
<script>
  current_year = new Date().getFullYear()
  $("p.small").append( document.createTextNode( current_year ) )
</script>