<header id="header" class="u-header u-header--bg-transparent u-header--abs-top login-d-none">
  <div class="u-header__section">
    <div id="logoAndNav" class="container-fluid">
      <nav class="navbar navbar-expand u-header__navbar">
        <a class="d-flex d-lg-none navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed logo-center logo-space">
          <%= image_tag("horacio_web.png", :alt => "logo", :class=>"img-resolution") %>
        </a>
      </nav>
    </div>
  </div>
</header>
