<!-- <span class="hide-on-mobile">Horacio: </span> -->
<li class="nav-item hs-has-mega-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut"  data-position="left">
  <a class="nav-link u-header__nav-link" href="<%= new_user_session_path %>">Se connecter</a>
</li>
  <!-- <a href="<%= new_user_registration_path %>">Sign up</a> -->
