<div class="form-align">
  <%= image_tag(attachments['logo.png'].try(:url)) %>
  <div class="form-group">
    <h2 class='h3'>Une demande de réinitialisation de mot de passe à été reçue.</h2>
    <h3>Votre mot de passe sera réinitialisé à celui par défaut spécifié par Horacio</h3>
    <div class="button-group">
      <% if Rails.env.development? %>
        <%= link_to '<button type="button" class="btn btn-primary transition-3d-hover">Réinitialiser mon mot de passe</button>'.html_safe, new_user_session_url(confirm: true, reset_password_token: @resource.reset_password_token) %>
      <% elsif Rails.env.staging? %>
        <%= link_to '<button type="button" class="btn btn-primary transition-3d-hover">Réinitialiser mon mot de passe</button>'.html_safe, "http://horacio-staging.jeedee.com/users/sign_in?" + {confirm: true, reset_password_token: @resource.reset_password_token}.to_param %>
      <% else %>
        <%= link_to '<button type="button" class="btn btn-primary transition-3d-hover">Réinitialiser mon mot de passe</button>'.html_safe, "http://horacio-production.jeedee.com/users/sign_in?" + {confirm: true, reset_password_token: @resource.reset_password_token}.to_param %>
      <% end %>
    </div>
  </div>
  <div class="footer-group">
    <span>Ce courriel vous a été envoyé par Horacio suite à une demande de votre part. </span>
    <a href="mailto:help@domain.com">Si ce n’est pas vous, contactez-nous.</a>
  </div>
</div>